<robot name="myrobot" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:xi="http://www.w3.org/2001/XInclude">

<xacro:include filename="$(find arm_description)/urdf/delta_urdf_v2.urdf"/>
<xacro:include filename="$(find arm_description)/urdf/end_effector.urdf.xacro" />

    <xacro:end_effector parent="wrist4_link" prefix="EE/">
        <origin xyz="0 0 0" rpy="0 -1.57079632679489661923 0"/> 
    </xacro:end_effector>

</robot>