<launch>
  <param name="robot_ip" type="str" value="192.168.1.119"/>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param name="robot_description" command="$(find xacro)/xacro  --inorder  '$(find arm_description)/urdf/arm_with_endeffector.urdf.xacro'" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node name="joint_angle_publisher" pkg="arm_driver" type="joint_position_publisher.py"/>
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
</launch>
